.adminBody {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  background-image: url(../../assets/img/adminPanelBackground.jpg);
}

@media (max-width: 768px) {
  .mainHeading {
    text-align: center;
    color: #216249;
    background: #ffffff;
    box-shadow: 2px 2px 10px 4px #b8f2dc;
    border-radius: 5px;
    max-height: 140px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }
}

.mainHeading {
  text-align: center;
  color: #216249;
  background: rgba(134,129,128,0.5);
  box-shadow: 2px 2px 10px 4px #b8f2dc;
  border-radius: 5px;
  max-height: 140px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.onlineDiv {
  max-height: 700px;
  background: rgba(236,251,239,0.7);
  height: 100%;
  min-height: 700px;
  border-radius: 10px;
}

.usersCountCol {
  height: 300px;
  background: #ffffff;
  border-radius: 5px;
}

.noOfUsersPara {
  color: rgb(99,89,92);
  width: 4ch;
  font-size: 100px;
  font-family: Poppins, sans-serif;
}

.regUsersPara {
  color: rgb(99,89,92);
  font-size: 18px;
  font-family: Poppins, sans-serif;
}

.col-md-6.col-lg-4.text-center.pb-5.pt-5.number-item.love_counter {
  background: rgba(65,187,24,0.8);
  border-radius: 10px;
  max-width: 320px;
  box-shadow: 2px 2px 10px 2px rgb(77,77,77);
  height: 100%;
  margin-top: 1%;
  margin-bottom: 10px;
  width: 100%;
  min-width: 280px;
  max-height: 180px;
  margin-right: 10px;
  margin-left: 10px;
}

.col-md-6.col-lg-4.text-center.pb-5.pt-5.love_counter {
  background: #41bb18;
  max-width: 320px;
  border-radius: 10px;
  height: 100%;
  box-shadow: 2px 2px 10px 2px rgb(77,77,77);
  margin-top: 1%;
  margin-bottom: 10px;
  width: 100%;
  max-height: 180px;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 280px;
}

.love_count {
  font-family: Poppins, sans-serif;
  font-size: 75px;
}

@media (max-width: 576px) {
  .love_count {
    font-family: Poppins, sans-serif;
    font-size: 40px;
  }
}

#paidUsers {
  background: rgba(33,98,73,0.8);
}

.col-lg-4.text-center.pb-5.pt-5.love_counter {
  background: rgba(65,187,24,0.8);
  max-width: 320px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgb(77,77,77);
  margin-top: 1%;
  margin-bottom: 10px;
  min-width: 280px;
  width: 100%;
  max-height: 180px;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

#countRow {
  color: #ffffff;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#countContainer {
}

.adminHr {
  background: #ffffff;
}

.onlinePara {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 10px;
  padding-top: 20px;
  color: rgb(33,98,73);
}

.onlineUserNo {
  font-size: 18px;
  padding-left: 10px;
  font-family: Poppins, sans-serif;
}

.messageCol {
  max-width: 750px;
  width: 100%;
  min-width: 750px;
}

.emailDiv {
  max-width: 1110px;
  min-width: 280px;
  width: 100%;
  color: rgb(67,67,67);
  background: rgba(99,86,92,0.7);
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px;
  padding-bottom: 30px;
}

@media (max-width: 576px) {
  .emailHeading {
    color: rgb(255,255,255);
    width: 300px;
    text-align: center;
    font-family: Lato, sans-serif;
    margin-left: 20px;
    padding-top: 20px;
    font-size: 24px;
  }
}

.emailHeading {
  color: rgb(255,255,255);
  width: 250px;
  text-align: center;
  font-family: Lato, sans-serif;
  padding-top: 20px;
  margin-bottom: 0px;
}

.emailHeadingDiv {
  margin-bottom: 30px;
}

.x-dropdown.dropdown {
  max-width: 200px;
  width: 100%;
  background: rgba(255,255,255,0);
}

.emailDropDown {
  margin-top: 20px;
  height: 35px;
  margin-right: 20px;
  margin-left: 20px;
}

#emailDropDown {
  color: #ffff;
  background-color: rgba(0,105,217,0);
  border-color: #ffff;
}

#emailDropDown:hover {
  color: #fff;
  background-color: #216249;
  border-color: #fff;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #61595C;
  border-color: #216249;
}

#emailDropDown {
  max-width: 300px;
  width: 100%;
  min-width: 250px;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: transparent;
  border-color: #216249;
}

@media (max-width: 576px) {
  .emailHeadingDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.emailBody {
  max-width: 1000px;
  width: 100%;
  color: rgb(67,67,67);
  text-align: left;
  font-family: Poppins, sans-serif;
  background: rgb(255,254,254);
  border-radius: 10px;
  max-height: 300px;
  height: 300px;
  min-height: 100px;
  padding: 5px;
  margin-bottom: 10px;
}

.emailBodyDiv {
  padding-right: 5%;
  padding-left: 5%;
}

.emailSubjectPara {
  color: rgb(67,67,67);
  text-align: left;
  font-family: Poppins, sans-serif;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
  border-style: none;
  box-shadow: 2px 2px 10px 2px rgb(98,98,98);
  height: 35px;
  padding: 5px;
  margin-bottom: 10px;
}

.emailButton {
  max-width: 1000px;
  margin-left: 5%;
  margin-right: 5%;
}

#emailSendButton {
  width: 80px;
  font-family: Montserrat, sans-serif;
  background: rgb(33,98,73);
}

.messageDiv {
  max-width: 1110px;
  width: 100%;
  max-height: auto;
  min-height: 0px;
  color: rgb(67,67,67);
  border-style: none;
  box-shadow: 2px 2px 10px 2px;
  background: rgba(134,129,128,0.6);
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.messageHeading {
  color: rgb(255,255,255);
}

.messageInfoPara {
  font-family: Montserrat, sans-serif;
  color: rgb(255,255,255);
}

.messageRecievingDiv {
  max-width: 1000px;
  width: 100%;
  height: 600px;
  background: #ffffff;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 2%;
  padding-left: 2%;
}

.singleMessageDiv {
  max-width: 800px;
  width: 100%;
  max-height: auto;
  min-height: 30px;
  margin-top: 10px;
  margin-right: 2%;
  margin-bottom: 30px;
  margin-left: 2%;
  padding-top: 5px;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 5px;
  font-family: Poppins, sans-serif;
  text-align: left;
  background: rgba(65,187,24,0.1);
  box-shadow: 2px 2px 10px 2px rgb(200,200,200);
  border: 1px none rgb(99,89,92) ;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  min-width: 200px;
}

.messageBodyPara {
  max-width: 750px;
  min-width: 200px;
  width: 100%;
}

@media (max-width: 576px) {
  .messageBodyPara {
    max-width: 750px;
    min-width: 200px;
    width: 100%;
    font-size: 14px;
  }
}

