.clean-block.dark {
  background-color: #222425;
}

.clean-block {
  background-color: #222425;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: not-allowed;
}

.ytHeading {
  font-size: 20px;
  color: rgb(255,255,255);
  font-weight: normal;
  text-align: left;
  font-family: Poppins, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ytDiscriptionBlock {
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  background: #216249;
}

.ytControlButton {
  color: #ffffff;
  background: rgba(97,89,92,0);
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ytControlButton:hover {
  color: #41bb18;
  background: rgba(255,255,255,0);
  border: 2px solid #41bb18;
  border-radius: 5px;
}

.fa.fa-play {
  line-height: 20px;
}

.fa.fa-pause {
  line-height: 20px;
}

.fa.fa-close {
  line-height: 20px;
}

.ytControlCol2 {
}

.ytFeedBackButton {
  color: #ffffff;
  background: rgba(97,89,92,0);
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.ytFeedBackButton:hover {
  color: #41bb18;
  background: rgba(255,255,255,0);
  border: 2px solid #41bb18;
  border-radius: 5px;
}

.ytFeedBackSupportPara {
  color: #41bb18;
  font-family: Poppins, sans-serif;
}

.ytFeedBackSupportMainPara {
  color: #41bb18;
}

