.waveSection {
  position: relative;
  width: 100%;
  height: 95vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
}

.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 300%;
  background: white;
  animation: change 0.1s infinite alternate;
}

@keyframes change {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.wave span {
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%,-75%);
  background: #000;
}

.wave span:nth-child(1) {
  animation: animate 5s linear infinite;
  border-radius: 45%;
  background: #41bb18;
}

.wave span:nth-child(2) {
  animation: animate 10s linear infinite;
  border-radius: 40%;
  background: repeating-linear-gradient(43deg, #41bb18 -322%, #216249 -159%, rgb(255,255,255), #216249, #41bb18);
}

.wave span:nth-child(3) {
  animation: animate 10s linear infinite;
  border-radius: 42.5%;
  background: repeating-linear-gradient(-43deg, #41bb18 -322%, #216249 -159%, rgb(255,255,255), #216249, #41bb18);
}

.wave span:nth-child(4) {
  animation: animate 100s linear infinite;
  border-radius: 80%;
  background: url(../../assets/img/background.jpg);
  object-fit: contain;
  background-size: 150%;
  left: 40%;
}

@keyframes animate {
  0% {
    transform: translate(-50%,-75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%,-75%) rotate(360deg);
  }
}

.content {
  position: relative;
  z-index: 1;
  color: #434343;
  font-size: 4em;
  bottom: 80px;
  height: 600px;
}

.cass {
  font-size: 30px;
  font-family: 'Poppins';
  color: #63595c;
  text-align: center;
  margin-bottom: 0px;
}

.cass {
  font-size: 30px;
  font-family: 'Poppins';
  color: #63595c;
  text-align: center;
  margin-bottom: 0px;
}

.presents {
  font-size: 48px;
  text-align: center;
  font-family: Allura;
  font-weight: bold;
  color: #41bb18;
  margin-bottom: 0px;
}

.con {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0px;
}

@media (max-width: 576px) {
  .con {
    font-size: 2rem;
    text-align: center;
    margin: 0px;
  }
}

.frontier {
  text-align: center;
  font-size: 40px;
}

@media (min-width: 1200px) {
  .frontier {
    text-align: center;
    font-size: 40px;
  }
}

